<template>
    <div class="sessionContainer">
        <v-container>
            <v-row>
                <v-col>
                    <v-card>
                        <v-card-subtitle
                            >Participants in session
                            {{ sessionId }}</v-card-subtitle
                        >
                    </v-card>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-card class="mainVideoView">
                        <video
                            class="localVideo"
                            autoplay="autoplay"
                            ref="localVideo"
                            muted
                        ></video>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "nuxt-class-component";
import axios from "axios";
import io, { Socket } from "socket.io-client";

interface Participant {}

@Component
export default class SessionRoom extends Vue {
    sessionId = "";
    socket = null as null | typeof Socket;
    participants: { [key: string]: Participant } = {};
    localOffer = null as RTCSessionDescriptionInit | null;
    localAnswer = null as RTCSessionDescriptionInit | null;
    isCaller = true;
    joined = false;
    webRtcConfiguration = {
        // iceServers: [
        //     {
        //         urls: [
        //             "stun:stun.l.google.com:19302",
        //             "stun:stun1.l.google.com:19302",
        //             "stun:stun2.l.google.com:19302"
        //         ]
        //     }
        // ]
    };
    streamConstraints = { audio: true, video: true };
    localStream = null as MediaStream | null;
    rtcPeerConnection = null as RTCPeerConnection | null;

    async startStream() {
        if (!this.$refs.localVideo) return;
        const localVideo = this.$refs.localVideo as HTMLVideoElement;
        this.localStream = await navigator.mediaDevices.getUserMedia(
            this.streamConstraints
        );

        localVideo.srcObject = this.localStream;
    }

    onIceCandidate(event: RTCPeerConnectionIceEvent) {
        if (!this.socket) return;
        if (event.candidate) {
            // console.log("send candidate");
            // this.socket.emit("candidate", {
            //     candidate: event.candidate,
            //     sessionid: this.sessionId
            // });
        }
    }

    onTrack(event: RTCTrackEvent) {
        console.log("on track", event);
        for (const stream of event.streams) {
            console.log(stream);
        }
    }

    async startSocket() {
        this.socket = io("", { path: "/api/socket.io" });
        if (!this.socket) return;
        this.socket.on("connected", () => {
            this.socket?.emit("join-session", this.sessionId);
        });
        this.socket.on("session-joined", async (msg: { isCaller: boolean }) => {
            console.log("session joined");
            if (this.joined) return;
            this.joined = true;
            this.isCaller = msg.isCaller;
            this.socket?.emit("request-old", this.sessionId);

            if (!this.isCaller) return;
            this.rtcPeerConnection = new RTCPeerConnection(
                this.webRtcConfiguration
            );
            if (!this.rtcPeerConnection) return;
            if (!this.localStream) return;
            console.log("gamer");
            for (const track of this.localStream.getTracks()) {
                this.rtcPeerConnection.addTrack(track);
            }
            this.rtcPeerConnection.ontrack = this.onTrack;
            this.rtcPeerConnection.onicecandidate = this.onIceCandidate;
            this.rtcPeerConnection.oniceconnectionstatechange = e => {
                console.log(e);
            };
            this.localOffer = await this.rtcPeerConnection.createOffer();
            await this.rtcPeerConnection.setLocalDescription(this.localOffer);
            this.socket?.emit("offer", {
                offer: this.localOffer,
                sessionId: this.sessionId
            });
        });
        this.socket.on("offer", async (offer: RTCSessionDescriptionInit) => {
            if (this.isCaller) return;
            this.rtcPeerConnection = new RTCPeerConnection(
                this.webRtcConfiguration
            );
            if (!this.rtcPeerConnection) return;
            if (!this.localStream) return;
            for (const track of this.localStream.getTracks()) {
                this.rtcPeerConnection.addTrack(track);
            }
            this.rtcPeerConnection.onicecandidate = this.onIceCandidate;
            this.rtcPeerConnection.ontrack = this.onTrack;
            this.rtcPeerConnection.oniceconnectionstatechange = e => {
                console.log(e);
            };
            await this.rtcPeerConnection.setRemoteDescription(offer);
            this.localAnswer = await this.rtcPeerConnection.createAnswer();
            await this.rtcPeerConnection.setLocalDescription(this.localAnswer);
            console.log("sent answer");
            if (!this.socket) return;
            this.socket.emit("answer", {
                sessionId: this.sessionId,
                answer: this.localAnswer
            });
            console.log("sent answer2");
        });
        this.socket.on("answer", async (answer: RTCSessionDescriptionInit) => {
            console.log("got answer");
            if (!this.rtcPeerConnection) return;
            if (!this.isCaller) return;

            await this.rtcPeerConnection.setRemoteDescription(answer);
        });
        // this.socket.on("candidate", async (candidate: RTCIceCandidate) => {
        //     console.log("getCandidate");
        //     if (!this.rtcPeerConnection) return;
        //     await this.rtcPeerConnection.addIceCandidate(candidate);
        // });
    }

    async startAll() {
        await this.startStream();
        await this.startSocket();
    }

    mounted() {
        this.sessionId = this.$route.params["sessionId"];
        console.log(this.sessionId);
        if (process.client) {
            this.startAll();
        }
    }
    destroyed() {
        this.socket?.disconnect();
    }
}
</script>

<style>
.sessionContainer {
    height: 100%;
    width: 100%;
}
.mainVideoView {
    height: 60vh;
}
.localVideo {
    height: 100%;
    width: 100%;
}
</style>
