<template>
    <v-app dark>
        <v-app-bar fixed app>
            <v-toolbar-title>
                <nuxt-link to="/">Toom</nuxt-link>
            </v-toolbar-title>
        </v-app-bar>
        <v-main>
            <nuxt />
        </v-main>
    </v-app>
</template>

<script>
export default {};
</script>
