<template>
    <v-layout column justify-center align-center>
        <div class="text-center text-h3">Welcome to toom!</div>

        <v-container fluid class="starting-options">
            <v-row>
                <v-col cols="6">
                    <v-card class="action">
                        <v-card-title @click="createRoom"
                            >Create a room</v-card-title
                        >
                    </v-card>
                </v-col>
                <v-col cols="6">
                    <v-card class="action">
                        <v-card-title @click="openJoinRoomDialog"
                            >Join a room</v-card-title
                        >
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-layout>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "nuxt-class-component";
import axios from "axios";
@Component
export default class Index extends Vue {
    async createRoom() {
        console.log("creating room");
        const resp = await axios.get("/api/create-session");
        this.joinRoom(resp.data.sessionId);
    }

    joinRoom(sessionId: string) {
        this.$router.replace(`/session/${sessionId}`);
    }
    openJoinRoomDialog() {
        console.log("opening join room dialog");
    }
}
</script>

<style>
.starting-options {
    margin-top: 100px;
}
.action {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
</style>
